html {
    font-family: sans-serif;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    font-style: italic;
    text-align: center;
}

h3 {
    font-style: italic;
    font-size: 20px;
}

p {
    font-family: sans-serif;
}

ul, ol {
    font-size: 20px;
    line-height: 30px;
}



